.App {
  background-color: blueviolet;
  width: 100%;
  height: 100vh;
}

#navbar-wrapper #title a {
  text-decoration: none;
  color: black;
}

#title {
  height: 100px;
  color: black;
  font-size: 25px;
}

#menu {
  height: 100px;
  color: black;
  font-size: 20px;
}

#menu ul {
  list-style: none;
}

#menu ul li {
  display: inline-flex;
}

#menu ul li a {
  text-decoration: none;
  color: rgb(75, 69, 69);
}

#designation {
  font-size: 14px;
  font-style: italic;
}


#content {
  padding-top: 57px;
  padding-bottom: 123px;
  padding-left: 57px;
}

#content #image {
  border: 1px solid red;
  background-image: url('image/ashish.jpg');
  background-size: 411px 425px;
  width: 411px;
  height: 425px;
  border-radius: 20em;
}

#content #resume {
  border: 1px solid black;
  background-color: #EEA302;
  width: 150px;
  height: 150px;
  border-radius: 11em;
  padding-top: 62px;
  padding-left: 45px;
}

#content #resume:hover {
  background-color: #F3F3F3;
}

#content a{
  text-decoration: none;
  color: black;
}

#content #project {
  border: 1px solid black;
  background-color: #FE4E3A;
  width: 150px;
  height: 150px;
  border-radius: 11em;
  padding-top: 62px;
  padding-left: 45px;
}

#content #project:hover {
  background-color: #F3F3F3;
}

#content #contact {
  border: 1px solid black;
  background-color: #80D8DA;
  width: 150px;
  height: 150px;
  border-radius: 11em;
  padding-top: 62px;
  padding-left: 45px;
}

#content #contact:hover {
  background-color: #F3F3F3;
}

#footer{
  border-top: 1px solid #C7C7C7;
  margin-bottom: 0px;
  padding-top: 35px;
  padding-bottom: 80px;
}